<html>
<head>
	<title>บทเพลงพระราชนิพนธ์</title>
	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<center>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">บทเพลงพระราชนิพนธ์</a>
    </div>
    <ul class="nav navbar-nav">
      <li></li>
      <li><a href="kingsong1">ใกล้รุ่ง</a></li>
      <li><a href="kingsong2">ยามเย็น</a></li>
      <li><a href="kingsong3">ยิ้มสู้</a></li>
    </ul>
  </div>
</nav><br>
<img src="king.jpg" class="img-circle" alt="Cinque Terre" width="400" height="400"> 
	<h1>บทเพลงพระราชนิพนธ์</h1>
	<a href="https://th.wikipedia.org/wiki/เพลงพระราชนิพนธ์ในพระบาทสมเด็จพระปรมินทรมหาภูมิพลอดุลยเดช">รวมบทเพลงพระราชนิพนธ์พระบาทสมเด็จพระเจ้าอยู่หัว รัชกาลที่ ๙</a><br><br>
</center>
</body>	

</html>