<html>
<head>
	<title>บทเพลงพระราชนิพนธ์ ใกล้รุ่ง</title>
	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<center>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="home">บทเพลงพระราชนิพนธ์</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="kingsong1">ใกล้รุ่ง</a></li>
      <li><a href="kingsong2">ยามเย็น</a></li>
      <li><a href="kingsong3">ยิ้มสู้</a></li>
    </ul>
  </div>
</nav>
<h1>"ใกล้รุ่ง"</h1><br>
<div class="container">
  <div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dX5XAS6gSKo"></iframe>
  </div>
</div><br><br>
</center>
</body>
</html>